.header {
  background-color: #1d1d1f;
  padding: 80px 40% 2% 14%;
  color: white;
  line-height: 40px;
}

.header h2 {
  font-family: sans-serif !important;
}

.rating {
  color: goldenrod;
  font-size: 12px;
}

.header a {
  color: #af5ac4;
  text-decoration: none;
  font-weight: bolder;
}
.names a {
  text-decoration: underline;
}

.small a {
  text-decoration: underline;
}

.small {
  font-size: 15px;
}

.header strong {
  font-size: 15px;
}

.lasthead {
  word-spacing: 10px;
}

.lasthead span {
  word-spacing: normal;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 20px;
    padding-top: 80px;
  }
}
