nav {
  height: 70px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 10px;
  z-index: 9999 !important;
}

.hh11 {
  color: red;
}

.hh22 {
  border: 5px solid blue;
}

button:hover {
  cursor: pointer;
}

.cart,
.lang,
.log,
.cat {
  flex: 1;
}

.cat {
  margin-right: 10px;
}

nav div {
  flex: 2;
  display: block;
  height: 45px;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a {
  font-family: serif;
}

nav a:hover {
  color: black;
}

.pad {
  padding-top: 12px;
}

.form {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 60px;
  padding-top: 7px;
  height: 45px;
  margin-top: 0;
  flex: 10;
  background-color: #f7f9fa;
}

input[type="text"] {
  background-color: #f7f9fa;
  border: none;
  width: 80%;
  height: 20px;
  padding-right: 5%;
  font-size: 15px;
  outline: none;
}

.search {
  color: rgb(200, 200, 200);
}

button[type="submit"] {
  background-color: #f7f9fa;
  border: none;
}

.notpad {
  padding-top: 10px;
}

.navbutton {
  font-weight: bold;
  font-family: sans-serif;
  display: block;
  width: 75px;
  height: 35px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: black;
}

.lang .navbutton {
  width: 40px;
  padding-top: 4px;
}

.black {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}

.logo {
  height: 95%;
}

.carticon {
  width: 25px;
  padding-top: 5%;
}

@media screen and (max-width: 1500px) {
  .seen1 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .seen2 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .seen {
    display: none;
  }

  .hidden {
    display: block;
  }

  nav {
    justify-content: center;
    padding-left: 0;
  }

  .cart {
    flex: 3;
  }

  .udemy {
    flex: 15;
    padding-left: 15%;
  }
}
