.fixed {
  position: fixed;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 15px 0 0 25px;
  z-index: 1;
}

.fixed h6 {
  font-weight: 700;
}

.fixed a {
  color: #af5ac4;
}

.fixed p {
  font-size: smaller;
}

.fixed strong,
.fixed i {
  color: goldenrod;
}

.nav {
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 0px 0.5px rgba(0, 0, 0, 0.2);
  height: 60px;
  display: flex;
  position: sticky;
  top: 70px;
  z-index: 1;
  font-weight: 700;
}

nav {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  margin: 0;
}

.nav a {
  color: gray !important;
  cursor: pointer;
  width: 10%;
  padding: 20px;
  margin-right: 30px;
  text-align: center;
  text-decoration: none;
}
.nav a:first-of-type {
  margin-left: 15%;
}

.nav a:hover {
  border-bottom: 2px solid black;
  padding: 18px;
  color: black !important;
}

.content span {
  padding-top: 5px;
  padding-left: 15px;
}

.whatLearn {
  width: 100%;
  box-shadow: 0.25px 0.25px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 3%;
  height: fit-content;
  padding-bottom: 10px;
  padding-right: 2px;
  line-height: 30px;
}
.whatLearn h4 {
  padding-top: 25px;
  padding-left: 25px;

  font-weight: 700;
}

.container span {
  display: inline-flex;
  width: 50%;
}

.content {
  margin-left: 14%;
  width: 700px;
}

.h4content {
  margin: 30px 0;
  font-weight: bold;
}

.requirements li {
  margin-left: -15px;
}

.more {
  border: none;
  background-color: white;
  color: #af5ac4;
  font-weight: 700;
  padding: 0;
}

.btn {
  height: 46px;
  width: 60px;
  background-color: black;
  margin: auto;
  margin-left: -60px;
  margin-right: 50px;
}
.selection {
  width: 125px;
  padding: 12px;
  margin-top: 10px;
}

.serchInput {
  width: 75% !important;
  border: 1px solid black !important;
  background-color: white !important;
  height: 46px !important;
  padding: 5px;
}

@media screen and (max-width: 991px) {
  .content {
    margin: auto;
    width: 80%;
  }
  .nav a:first-of-type {
    margin-left: 0;
  }
  .nav a {
    width: 25%;
    padding: 0;
    padding-top: 20px;
    margin-right: 0;
  }
  .nav a:hover {
    padding-top: 15px;
  }
  .content span {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .nav a {
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) {
  .nav {
    top: 90px;
  }
}
