.progress {
  height: 9px;
  margin-bottom: 20px;
  border-radius: 0;
}

.progress:first-of-type {
  margin-top: 5px;
}
.rating {
  color: #cd7f32;
  text-align: center;
  font-weight: bold;
  padding: 0;
}
.rating h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  margin-bottom: -10px;
}
.rating p {
  font-size: 15px;
}
.stars a {
  color: #af5ac4;
}

@media screen and (max-width: 991px) {
  .rating {
    width: 100%;
    text-align: left;
    margin-left: 10px;
  }
  .stars {
    width: 200px;
  }
}
