header {
  margin: auto;
  margin-top: 75px;
  max-width: 2000px;
}

.photodiv {
  background-image: url("../../Photos/gray.jpg");
  width: 90%;
  height: 350px;
  margin: 0 auto 20px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20%;
  flex: 1;
}

h2 {
  font-family: serif !important;
  font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
}

h3,
h5 {
  font-weight: normal;
}

.photo {
  margin-top: 2%;
  width: 25%;
  height: 80%;
}

.photo img {
  width: 100%;
  height: 100%;
}

.childhome {
  padding: 20px 0 0 20px;
  margin-top: 50px;
  width: 30em;
  height: 10em;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
  .childhome {
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0;
    box-shadow: unset;
  }
  .photo {
    width: 25%;
    min-width: 200px;
    height: 50%;
    margin: auto;
  }
  .photodiv {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    gap: 0;
  }
}

@media screen and (max-width: 700px) {
  .photodiv {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 350px) {
  .photodiv {
    margin-bottom: 100px;
  }
}
