main {
  max-width: 2000px;
  margin: auto;
}

.main {
  width: 85%;
  margin: auto;
}

.main a {
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

.mainchild {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 10px;
}

.broad h1 {
  font-family: serif !important;
  font-weight: bold !important;
}

.broad ul {
  color: gray;
  font-weight: bold;
}

.broad li {
  display: inline-block;
  margin-right: 15px;
}

.broad li:first-child {
  margin-left: -30px;
  color: black;
}

li:hover {
  cursor: pointer;
  color: black;
}

.mainchild h6 {
  display: block;
  width: 75%;
}

p.light {
  display: inline;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}

.mainchild button {
  display: block;
  height: 40px;
  width: 100px;
  padding: 5px;
  margin-bottom: 20px;
  border-width: 1px;
  background-color: white;
  width: auto;
}
.mainchild button:hover {
  background-color: rgba(220, 220, 220, 0.5);
}

.courses span {
  color: goldenrod;
}

.navLink {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.navItem > a {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: grey;
  font-weight: bold;
  padding-right: 15px;
}

.navItem > a:focus,
.navItem > a:active,
.navItem > a:hover {
  font-weight: bold;
  color: black;
  border: 0px;
}

h3.bold {
  font-weight: bold;
  width: 100%;
}

.topCategories img {
  margin-bottom: 20px;
  width: 20vw;
  height: 20vw;
  max-width: 275px;
  max-height: 150px;
  border: 5px solid white;
  cursor: pointer;
}

.topCategories img:hover {
  border: none;
}

.mainchild {
  overflow: hidden;
}

.courses img {
  width: 15vw;
  height: 10vw;
}

.nav-tabs,
.nav-link {
  border: 0 !important;
  color: gray !important;
  font-weight: bolder;
}

.nav-link:hover,
.active {
  color: black !important;
}

@media screen and (max-width: 1500px) {
  .photodiv {
    gap: 10%;
  }
}

@media screen and (max-width: 991px) {
  .mainchild h3,
  .mainchild a {
    margin-left: 10px;
  }

  .topCategories img {
    width: 25vw;
    height: 25vw;
  }

  .courses img {
    height: 18vw;
  }
}
@media screen and (max-width: 767px) {
  .topCategories {
    text-align: center;
  }
  .topCategories img {
    width: 50vw;
    height: 50vw;
  }
  .courses img {
    height: 30vw;
  }
  .courses {
    padding-left: 5%;
  }
}
